#Wordpress
htaccess.txt
index.php
licencia.txt
license.txt
readme.html
robots.txt
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess
wp-content/uploads/
cache/
wp-cache-config.php
advanced-cache.php
dump.sql
dump.zip
wp-config-sample.php
wp-config.php
wp-content/themesBAK/
wp-content/languages/
wp-content/themes/genesis/

# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# Komodo
.komodotools
*.komodoproject

# grunt-html-validation
validation-report.json
validation-status.json
/googleb245262cbc0814c2.html
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
